<!DOCTYPE HTML>

<body>
    <header>
        <div>
            <img src="images/logo.svg" alt="会社ロゴ">
            <h1>宮村ゴム工業</h1>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="#">会社案内</a></li>
                    <li><a href="#">ニュース</a></li>
                    <li><a href="#">ベルトコンベア事業</a></li>
                    <li><a href="#">リサイクル事業</a></li>
                    <li><a href="#">その他事業</a></li>
                    <li><a href="#">採用情報</a></li>
                </ul>
            </nav>
            <div class="contact">
                <div>
                    <a href="#">
                        <span>CONTACT</span>
                        <img src="images/email.svg" alt="お問い合わせ">
                    </a>
                </div>
            </div>
        </div>
    </header>
