<main>
    <!--メインビジュアル-->
    <div id="maining">
        <img src="images/main_visual.jpg" alt="メインビジュアル">
        <div>
            <h2 class="top_h2">
                <span>株式会社宮村ゴム工業は40年以上の実績を持つ</span><br>
                <span>ベルトコンベア専門企業です。</span>
            </h2>
            <h2 class="top_h2_2">
                <span>豊富な経験と知識・技術でお客様をサポートいたします</span>
            </h2>
        </div>
    </div>
    <h3>NEWS</h3>
    <div class="news">
        <dl>
            <dt>2022.00.00</dt>
            <dd><a href="#">テキストが入ります。</a></dd>
            <dt>2022.00.00</dt>
            <dd><a href="#">テキストが入ります。</a></dd>
            <dt>2022.00.00</dt>
            <dd><a href="#">テキストが入ります。</a></dd>
        </dl>
    </div>
</main>
