<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>宮村ゴム工業～ベルトコンベヤ・リサイクル業～ | ベルトコンベヤと廃ゴムリサイクルの宮村ゴム工業</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <!--OGP-->
    <meta property="og:title" content="宮村ゴム工業" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://www.miyamuragomu.co.jp/" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
